@import "../../../../variables.scss";
@import "~@angular/material/theming";

.main-app-card {
  min-height: 100%;
  max-width: 800px;
  border-radius: 20px 20px 0 0;
  margin: auto;
  overflow: hidden;
  padding: 0;
  background-color: mat-color($primary, 50);

  &__content {
    margin: 16px;
  }
}
