<app-card-image-header
  imageSrc="/assets/pizza-header.jpg"
  imageAlt="Pizza header"
  headerTitle="Pizzas"
></app-card-image-header>
<ng-container *ngIf="pizzas$ | async as pizzas">
  <mat-selection-list [multiple]="false" [@slideInOutList]="pizzas.length">
    <app-pizza-card
      class="pizza-card"
      *ngFor="let pizza of pizzas; trackBy: trackByFn; last as last"
      [pizza]="pizza"
      [routerLink]="[pizza.id]"
      [last]="last"
    ></app-pizza-card>
  </mat-selection-list>
</ng-container>
<app-create-pizza-button></app-create-pizza-button>
