<nav
  mat-tab-nav-bar
  backgroundColor="primary"
  class="app-toolbar"
  mat-align-tabs="center"
>
  <ng-container *ngIf="categories$ | async as categories">
    <ng-container *ngIf="activeUrl$ | async as activeUrl">
      <a
        mat-tab-link
        *ngFor="let category of categories"
        [active]="activeUrl.endsWith(category.id)"
        [routerLink]="category.id"
        [ngClass]="{ hidden: mobileQuery.matches }"
      >
        {{ category.title }}
      </a>
    </ng-container>
  </ng-container>
</nav>
