<app-card-image-header
  imageSrc="/assets/ingredient-header.jpg"
  imageAlt="Ingredients header"
  headerTitle="Ingredients"
></app-card-image-header>
<app-create-ingredient-form></app-create-ingredient-form>
<mat-chip-list aria-label="Ingredient list" [selectable]="false">
  <app-ingredient-chip
    *ngFor="let ingredient of ingredients$ | async; trackBy: trackByFn"
    [ingredient]="ingredient"
    [removable]="true"
    (ingredientRemoved)="onIngredientRemoved($event)"
  ></app-ingredient-chip>
</mat-chip-list>
