<app-card-image-header
  imageSrc="/assets/ingredient-header.jpg"
  imageAlt="Ingredients header"
  headerTitle="Ingredients"
></app-card-image-header>
<app-create-ingredient-form></app-create-ingredient-form>
<section
  class="ingredients-list-section"
  *ngIf="ingredients$ | async as ingredients"
>
  <h2>Current ingredients</h2>
  <mat-chip-list aria-label="Ingredient list" [selectable]="false">
    <app-ingredient-chip
      *ngFor="let ingredient of ingredients; trackBy: trackByFn"
      [ingredient]="ingredient"
      [removable]="true"
      (ingredientRemoved)="onIngredientRemoved($event)"
    ></app-ingredient-chip>
  </mat-chip-list>
  <div class="ingredients-empty-state" *ngIf="!ingredients.length" [@fadeInOut]>
    <h3>
      <i
        >You don't have any ingredient added. <strong>Add one</strong> with the
        form above.</i
      >
    </h3>
  </div>
</section>
