:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.app-content {
  padding-top: 48px;
  flex: 1;
  background-image: linear-gradient(
      0,
      rgba(50, 0, 80, 0.5),
      rgb(50, 0, 100, 0.5)
    ),
    url(/assets/bg-pizza.png);
}
