@import "../variables.scss";
@import "~@angular/material/theming";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.app-content {
  padding-top: 48px;
  flex: 1;
  background-image: linear-gradient(
      0,
      mat-color($primary, 0.5),
      mat-color($primary, 200, 0.5)
    ),
    url(/assets/bg-food.png);
}
