<section>
  <app-card-image-header
    [headerTitle]="pizza.name"
    [imageAlt]="pizza.name"
    imageSrc="/assets/pizza-header.jpg"
  ></app-card-image-header>
  <section class="pizza-actions">
    <button
      class="pizza-actions__edit-button"
      mat-mini-fab
      color="primary"
      aria-label="Button to edit pizza name"
      (click)="onEdit()"
    >
      <mat-icon>create</mat-icon>
    </button>
    <button
      class="pizza-actions__delete-button"
      mat-mini-fab
      aria-label="Button to edit pizza name"
      color="warn"
      (click)="onDelete()"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </section>
</section>
